* {
	text-align: center;
}

#wrapper {
	position: absolute;
	width: 90%;
	padding: 2% 5% 5% 5%;
}

#buttons {
	margin-top: 1rem;
}

.text {
	margin-top: 1rem;
}

button {
	margin: 0 2rem;
	vertical-align: top;
}